body {
  margin: 80px;
  background-image: linear-gradient(#615dad, #ffc8da);
  background-attachment: fixed;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  font-weight: 200;
}

.obrazek {
  max-width: 100%;
}

.box {
  background-color: #283e50;
  color: white;
  width: 400px;
  flex-grow: 1;
  flex-direction: column;
  align-items: stretch;
  margin: auto;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.box .index {
  width: auto;
  max-width: 600px;
}

.telo {
  text-align: center;
  padding: 10px;
}

.tlacitko {
  line-height: 45px;
  text-align: center;
  color: white;
  text-decoration: none;
  display: block;
}

.zelene {
  background-color: #1fcca4;
  margin-bottom: 1px;
}

.modre {
  background-color: #0197f6;
}

.zelene:hover {
  background-color: #1cbb96;
}

.modre:hover {
  background-color: #0090e9;
}

ol li {
  margin: 15px 30px;
}

ol {
  margin-bottom: 40px;
}

.miniatura {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

figure img {
  max-width: 100%;
}

figure {
  margin-bottom: 30px;
}

figcaption {
  text-align: center;
}

@media (min-width: 700px) {
  .galerie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  figure {
    flex-basis: calc((100% - 50px) / 2);
    /* flex-basis: 40%; */
    margin: 0px;
    flex-grow: 0;
    margin-bottom: 25px;
  }
}

@media (min-width: 900px) {
}
