body {
  margin: 80px;
  background-image: linear-gradient(#615dad, #ffc8da);
  background-attachment: fixed;
}

.nadpis.index {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  font-weight: 200;
}

.hra__nadpis {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  font-weight: 200;
  color: white;
  text-align: center;
}

.obrazek {
  max-width: 100%;
}

.box {
  background-color: #283e50;
  color: white;
  width: 400px;
  flex-direction: column;
  align-items: stretch;
  margin: auto;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.pravidla {
  /* width: auto; */
  width: 800px;
  max-width: 100%;
  flex-grow: 1;
  margin: auto;
}

.telo {
  text-align: center;
  padding: 10px;
}

.tlacitko {
  line-height: 45px;
  text-align: center;
  color: white;
  text-decoration: none;
  display: block;
}

.zelene {
  background-color: #1fcca4;
}

.tlacitko.zelene {
  margin-bottom: 1px;
}

.modre {
  background-color: #0197f6;
}

.zelene:hover,
.zelene:focus {
  background-color: #1cbb96;
}

.modre:hover,
.modre:focus {
  background-color: #0090e9;
}

ol li {
  margin: 15px 30px;
}

ol {
  margin-bottom: 40px;
}

.miniatura {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

figure img {
  max-width: 100%;
}

figure {
  margin-bottom: 30px;
}

figcaption {
  text-align: center;
}

.hra__box {
  margin: auto;
  max-width: 80vmin;
}

.hra__domecek {
  margin-right: 5px;
}

.hra__restart,
.hra__domecek {
  border-radius: 5%;
  padding: 5px;
}

#h_r,
#h_d {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.hra__telo {
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  margin-bottom: 10px;
}

.hra__text {
  font-family: 'Roboto', sans-serifm;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding-right: 5px;
}

.hra__hraci_pole {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: auto;
}

.hra__boxik {
  border: solid black 1px;
  border-radius: 0px;
  width: 10%;
  aspect-ratio: 1/1;
  flex-basis: 10%;
  padding: 0px;
  opacity: 0.5;
  padding: 5px;
  transition: background-size 0.15s;
  background-size: 0;
}

.hra__boxik:hover,
.hra__boxik:focus {
  opacity: 0.7;
}

.hra__znak__miniatura {
  filter: invert(100%);
  width: 20px;
}

.telo__prvni {
  display: flex;
  text-align: center;
  align-items: center;
}

.hra__text {
  display: inline-block;
}

.hra__domecek,
.hra__restart {
  border-radius: 5%;
  width: 20px;
  text-align: center;
  color: white;
  text-decoration: none;
  display: inline-block;
}

.board__field--circle {
  background-image: url(circle.svg);
}

.board__field--cross {
  background-image: url(cross.svg);
}

.board__field--cross,
.board__field--circle {
  background-size: 80%;
  opacity: 100%;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}

@media (min-width: 700px) {
  .galerie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  figure {
    flex-basis: calc((100% - 50px) / 2);
    /* flex-basis: 40%; */
    margin: 0px;
    flex-grow: ;
    margin-bottom: 25px;
  }
}

@media (min-width: 900px) {
}
